<p id="notice"><%= notice %></p>

<h1>User Responses</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Question response</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_responses.each do |user_response| %>
      <tr>
        <td><%= user_response.question_id %></td>
        <td><%= user_response.question_response_id %></td>
        <td><%= link_to 'Show', user_response %></td>
        <td><%= link_to 'Edit', edit_user_response_path(user_response) %></td>
        <td><%= link_to 'Destroy', user_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Response', new_user_response_path %>
