<%= form_with(model: question_response, local: true) do |form| %>
  <% if question_response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question_response.errors.count, "error") %> prohibited this question_response from being saved:</h2>

      <ul>
        <% question_response.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>

  <div class="field">
    <%= form.label :question_id %>
    <%= form.text_field :question_id %>
  </div>

  <div class="field">
    <%= form.label :correct %>
    <%= form.check_box :correct %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
