<p id="notice"><%= notice %></p>

<h1>Question Responses</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Question</th>
      <th>Correct</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_responses.each do |question_response| %>
      <tr>
        <td><%= question_response.text %></td>
        <td><%= question_response.question_id %></td>
        <td><%= question_response.correct %></td>
        <td><%= link_to 'Show', question_response %></td>
        <td><%= link_to 'Edit', edit_question_response_path(question_response) %></td>
        <td><%= link_to 'Destroy', question_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question Response', new_question_response_path %>
